h2 {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  padding-bottom: 90px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;
  border-bottom: solid 1px #444444;
}

.skill {
  padding-bottom: 30px;
}
