h2 {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
}

h3 {
  display: flex;
  align-items: center;
  gap: 7px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: dashed 2px $light-blue;
}

.skill {
  padding-bottom: 30px;
}
